/* Overwriting Bootstrap Classes  */
.btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    color: #fff;
    border: 2px solid #4CAF50;
  }
  .btn:hover {
    background-color: #fff;
    color: #000;
  }
  .card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  .card:hover {
    transform: translateY(-5px);
  }
  .form-control {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #ddd;
    transition: border-color 0.3s ease-in-out;
  }
  
  .form-control:focus {
    border-color: #4CAF50;
  }
  .text-primary {
    color: #5e72e4 !important; 
  }
  .bg-primary {
    background-color: #5e72e4 !important; 
    border-color: #000000 !important; 
  }
  .text-secondary {
    color: #fd7e14 !important; 
  }
  .bg-secondary {
    background-color: #fd7e14 !important; 
    border-color: #fd7e14 !important; 
  }
  .text-success {
    color: #28a745 !important; 
  }
  .bg-success {
    background-color: #28a745 !important; 
    border-color: #28a745 !important; 
  }
  
  /* Overwrite danger color */
  .text-danger {
    color: #dc3545 !important; 
  }
  .bg-danger {
    background-color: #dc3545 !important; 
    border-color: #dc3545 !important; 
  }
  .footer {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .jumbotron {
    background-color: #f9f9f9;
    padding: 60px 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
    /* Custom Styles */
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f8f9fa;
      color: #333;
    }
    .navbar {
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
  